@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #1a2980;
  background: -webkit-linear-gradient(to right, #1a2980, #26d0ce);
  background: linear-gradient(
    to right,
    #1a2980,
    #26d0ce
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #333;
  font-family: "Open Sans", sans-serif;
}

.title {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.title h1 {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.box {
  background-color: #fafbfc;
  max-width: 600px;
  padding: 3rem;
  margin: auto;
  margin-top: 3rem;
  border: 0;
  border-radius: 10px;
}

.form {
  display: grid;
}

.form label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

.form input {
  padding: 1rem;
  font-size: 16px;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: 0;
}

.form input[type="submit"] {
  background-color: cornflowerblue;
  color: #111;
  font-weight: bold;
  padding: 1rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
}
.form input[type="submit"]:hover {
  background-color: rgb(59, 106, 194);
}

.result {
  font-size: 1.2rem;
  margin-top: 30px;
}

footer {
  font-weight: 300;
  color: #fff;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

footer p {
  line-height: 40px;
  font-size: 16px;
}
